* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

center .login-header {
	margin-top: 5%;
}

.login-form {
	margin-top: 10%;
	padding: 10px;
	padding-bottom: 5%;
	width: 40%;
	margin-left: 30%;
	border: 1px solid gray;
	border-radius: 7px;
}

.login-form center {
	padding-bottom: 10%;
}

.login-form .login-item {
	width: 40%;
	margin-left: 30%;
	margin-bottom: 5%;
	padding: 5px;
	border: 1px solid blue;
	border-radius: 5px;
}

.login-form .login-passwd {
	margin-bottom: 1%;
}

.login-form .forgot-pass {
	margin-left: 30%;
	font-size: 12px;
	margin-bottom: 5%;
	cursor: pointer;
}

.login-form .login-btn {
	width: 40%;
	margin-left: 30%;
	border: 3px solid gray;
	border-radius: 7px;
	padding: 3px;
}

.login-form .register-btn {
	margin-top: 3%;
	margin-bottom: 1%;
	border: 3px solid rgb(129, 129, 249);
	border-bottom: 3px solid rgb(129, 129, 249);
	background-color: none;
}

.login-form .register-btn:hover {
	background-color: rgb(129, 129, 249);
	border-bottom: 2px solid rgb(129, 129, 249);
	border-top: 4px solid rgb(129, 129, 249);
	color: white;
}

.login-form .as-admin {
	width: 40%;
	margin-left: 35%;
}

/* ANASAYFA */

.head {
	width: 100%;
	height: 15vh;
	background-color: blanchedalmond;
}

.head .header {
	padding-top: 25px;
}

.index-main {
	width: 60%;
	margin-left: 20%;
	margin-top: 20%;
	border: 2px solid green;
	border-radius: 20px;
	padding: 10px;
}

.index-new-app {
	display: none;
	width: 60%;
	margin-left: 20%;
	margin-top: 10%;
	border: 2px solid blue;
	border-radius: 20px;
	padding: 10px;
}

.index-main .app_btn {
	width: 45%;
	height: 10vh;
	padding: 5px;
	border-radius: 7px;
}

.index-main .app_new {
	background-color: green;
	margin-right: 9%;
}

.index-main .app_old {
	background-color: orange;
}


.exit {
	position: fixed;
	right: 5%;
	top: 5%;
}

/* DOKTOR PANELI */

.table-main {
	width: 80%;
	margin-top: 10%;
	margin-left: 20%;
}

.table-main th {
	width: 27%;
}

.table-main th {
	color: rgb(129, 129, 249);
}

.table-main table,
th,
td {
	border: 1px solid rgb(36, 28, 28);
	text-align: center;
}

#new-apt-select {
	width: 30%;
	margin-bottom: 2%;
	margin-left: 35%;
	display: block;

}

#btn_appt{
	width: 30%;
	margin-left: 35%;
	padding: 10px;
}

#new-apt-date {
	width: 30%;
	margin-left: 35%;
	margin-bottom: 5%;
}

/* DOKTOR EKLEME */

.reg-branch {
	width: 40%;
	height: 4vh;
	margin-left: 30%;
	margin-bottom: 5%;
}

.return-admin-panel {
	width: 40%;
	margin-left: 37%;
	margin-bottom: 5%;
}
